{% extends 'base.html' %}
{% load static %}

{% block title %}動画 | {{ object.title }}{% endblock %}



{% block content %}


    <h1>{{ object.title }}</h1>
    <video width='400px' height='auto' src='{{ object.movie.url }}' controls></video>
    <p>{{ object.created_at }} に投稿</p>
    <p>{{ object.discription }}</p>



    <hr>
    <a class="btn btn-default" href="/{{ object.id }}/comment">Add comment</a>

    {% for comment in MovieContent.comments.all %}
    <hr>
        <div class="comment">
            <div>{{ comment.created_at }}</div>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}


{% endblock %}